@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService _lss

<div class="page">
	<main>
		<article class="FullSidebar">
				<RadzenDialog/>
				<RadzenNotification/>
				<RadzenTooltip/>
				<RadzenRequiredValidator />
				@Body
		</article>
	</main>
</div>

<style>
	.FullSidebar
	{
		/*margin-left : -2vw;*/
	}
</style>

@code {
	protected override async Task OnInitializedAsync()
	{
		//await _lss.RemoveItemAsync("Token");
		//await _lss.RemoveItemAsync("IdKaryawan");
		//await _lss.RemoveItemAsync("APIAddress");
		await InvokeAsync(StateHasChanged);
	}
}